.link {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}
.link a {
  text-decoration: none;
  padding: 10px;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  height: 30px;
  font-size: 25px;
  text-align: center;
}
.link .active-link {
  background-color: #b700ff;
  color: #fff;
  border-color: #b700ff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
